pkgbase = susshi
	pkgdesc = modern, terminal-based SSH connection manager
	pkgver = 0.17.0
	pkgrel = 1
	url = https://github.com/yatoub/susshi
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv6h
	arch = armv7h
	license = MIT
	makedepends = cargo
	depends = openssh
	source = https://github.com/yatoub/susshi/archive/refs/tags/v0.17.0.tar.gz
	b2sums = ff16e4ad1612ab034a1c442e4cf998ee7b366e1d1bef2f9c12fdb09a077800b342a6485e6547fe0e1c7ad1d58f27d34e74473838fc6237a2e8e7b93e33c613de

pkgname = susshi
